# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# =========================
# Local logs
# =========================
*.log
streamlit.log

# =========================
# Spark / local metastore
# =========================
metastore_db/
derby.log
spark-warehouse/

# =========================
# Data (IMPORTANT)
# =========================

# ignore all data content
data/*


# keep folder structure
!data/.gitkeep
!data/bronze/
!data/silver/
!data/gold/
!data/output/
!data/raw/

# inside folders, still ignore files
data/bronze/*
data/silver/*
data/gold/*
data/output/*
data/raw/*

# keep empty placeholder
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/output/.gitkeep
!data/raw/.gitkeep

# pdf
*.pdf

# !data/output/demo.parquet

# =========================
# Notebook checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Secrets (VERY IMPORTANT)
# =========================
secrets.toml
.env
*.env